body {
    padding-top: 80px;
}.

btn-rounded-white{display:inline-block;color:#fff;padding:10px 20px;border:none;transition:.5s ease all}.btn-rounded-white:hover{color:#3C3C3C;background:#dcd9d9;text-decoration:none}.
