body {
    margin: 50px auto;
    width: 60%;
}
nav ul, footer ul {
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
    list-style: none;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    font-size: 1.1em;
    color: #0e48c7;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.4em;
    font-family: 'Open Sans', sans-serif;;
}
h2 {
    font-size: 1.2em;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    color: #999;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    font-weight: normal;
    line-height: 1em;
    color: #999;
}
h3 {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: #999;
  font-size: .8em
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
