<!DOCTYPE html>
<html>
	<head>
		<title>Andrew Wang</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/test.css">
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
	</head>
	<body>


		<div class="head">
				<h1>Andrew Wang</h1>
		</div>
			  <h2>andrew-wang (at) berkeley (dot) edu</h2>


		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="https://scholar.google.com/citations?user=zFupGMMAAAAJ&hl=en">Google Scholar</a></li>
						<li><a href="https://github.com/andrewewang" target="_blank">GitHub</a></li>
						<li><a href="https://www.linkedin.com/in/andrewewang/" target="_blank">LinkedIn</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="head">
				<p>Hi, I am a current undergraduate at UC Berkeley studying Electrical Engineering and Computer Science.</p>
				<p><br></br></p>



				<link rel="stylesheet" type="text/css" href="/css/timeline.css">


				<div class="history-tl-container">
				  <ul class="tl">
				    <li class="tl-item" ng-repeat="item in retailer_history">
				      <div class="timestamp">
				        Summer 2021<br>
				      </div>
				      <div class="item-title">Amazon.com, Inc.</div>
				      <div class="item-detail">Incoming SDE Intern</div>
				    </li>
				    <li class="tl-item" ng-repeat="item in retailer_history">
				      <div class="timestamp">
				        Present<br>October 2019
				      </div>
				      <div class="item-title">Berkeley Space Sciences Laboratory</div>
				      <div class="item-detail">Research under T. J. Immel</div>
				    </li>
				    <li class="tl-item" ng-repeat="item in retailer_history">
				      <div class="timestamp">
				       June 2019<br>September 2015
				      </div>
				      <div class="item-title">University of Southern California<br>Astronautical Engineering Research Laboratory</div>
				      <div class="item-detail">Research under W. Yu</div>
				    </li>
						<li class="tl-item" ng-repeat="item in retailer_history">
							<div class="timestamp">
							 Summer 2018<br>
							</div>
							<div class="item-title">Beijing Institute of Technology<br>Center for Electrostatics and Applications</div>
							<div class="item-detail">Research under Z. Zhang</div>
						</li>

				  </ul>
				</div>







<link rel="stylesheet" type="text/css" href="/css/test.css">

				<p>imagine imagining lul</p>
    		</div>
		</div>
		<footer>
    		<ul>
        		<li><h3>Last Updated: 10.17.2020</h3></li>
			</ul>
		</footer>
	</body>
</html>
